body {
    background-color: #F0F0F0;
    color: #000;
    //font: 300
    //100.1%
    //"Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    font-family: "Lucidia Console", Monaco, monospace;
    //position: relative;
    overflow: hidden;
}

a {
    color: #00f;
}

.xbox {
    color: #FF0000;
    position:absolute;
    top:0;
    width: auto;
    z-index:100;
}

.mini_code {
    width: 90%;
    margin: auto;
    padding: 5px;
    word-wrap: break-word;
    font-family: Courier, serif;
    background-color: #FFF8DC;
    fill: #FFF8DC;
}
#vigenere {
    width: 50%;
    height: auto;
}
.info {
    padding: 10px;
    padding-top: 5px;
    overflow: hidden;
}
.info_heading {
    font-size: 20px;
    text-align: center;
}
.info_img {
    width: 95%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.shadowed {
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
}
.reverse_shadowed {
    box-shadow: 0px -8px 8px 0px rgba(0, 0, 0, 0.15);
}

#slider_container {
    position: absolute;
    height: 100%;
    width: 400px;
    top: 0;
    right: -400px;
    fill-opacity: 0;
    z-index: 90;
}

#infobox_container {
    position: absolute;
    z-index: 99;
    height: auto;
    max-height: 90%;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.97);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
    overflow-y: auto;
}

#canvas {
    height: 100%;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.87);
    position: relative;
    margin: 0;
    overflow-y: hidden;
    overflow-x: auto;
}

#canvas-holder {
    position:relative;
    z-index: 1;
    height: 610px;
    width: 95%;
    margin: auto;
    margin-top: 0px;
    overflow: hidden;
}

#titlebar {
    width: 95%;
    font-size: 30px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: center;
    background-color: rgba(245, 245, 245, .87);
}

#mini_info {
    font-size: .7em;
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.5);
}
#background {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    word-wrap: break-word;
    overflow-y: hidden;
    color: #AAA;
    z-index: -1;
}
